# Project Proposal
### Group Members: Sadia, Youjung, Adam

In [8]:
library(tidyverse)

In [9]:
intakes <- "https://raw.githubusercontent.com/adagfs/Stat_201_Group_Project/main/Austin_Animal_Center_Intakes.csv"
outcomes <- "https://raw.githubusercontent.com/adagfs/Stat_201_Group_Project/main/Austin_Animal_Center_Outcomes.csv"

animal_intakes <- read_csv(intakes) 
head(animal_intakes)
nrow(animal_intakes)


animal_outcomes <- read_csv(outcomes)
head(animal_outcomes)
nrow(animal_outcomes)

Rows: 142192 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (12): Animal ID, Name, DateTime, MonthYear, Found Location, Intake Type,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Animal ID Name    DateTime               MonthYear
1 A786884   *Brock  01/03/2019 04:19:00 PM January 2019
2 A706918   Belle   07/05/2015 12:59:00 PM July 2015
3 A724273   Runster 04/14/2016 06:43:00 PM April 2016
4 A665644   NA      10/21/2013 07:59:00 AM October 2013
5 A682524   Rio     06/29/2014 10:38:00 AM June 2014
6 A743852   Odin    02/18/2017 12:46:00 PM February 2017
  Found Location                      Intake Type     Intake Condition
1 2501 Magin Meadow Dr in Austin (TX) Stray           Normal
2 9409 Bluegrass Dr in Austin (TX)    Stray           Normal
3 2818 Palomino Trail in Austin (TX)  Stray           Normal
4 Austin (TX)                         Stray           Sick
5 800 Grove Blvd in Austin (TX)       Stray           Normal
6 Austin (TX)                         Owner Surrender Normal
  Animal Type Sex upon Intake Age upon Intake
1 Dog         Neutered Male   2 years
2 Dog         Spayed Female   8 years
3 Dog         Intact Male     11 months
4 Cat         Intact Female   4 weeks
5 Dog         Neutered Male   4 years
6 Dog         Neutered Male   2 years
  Breed                                 Color
1 Beagle Mix                            Tricolor
2 English Springer Spaniel              White/Liver
3 Basenji Mix                           Sable/White
4 Domestic Shorthair Mix                Calico
5 Doberman Pinsch/Australian Cattle Dog Tan/Gray
6 Labrador Retriever Mix                Chocolate

[1] 142192

Rows: 141980 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (12): Animal ID, Name, DateTime, MonthYear, Date of Birth, Outcome Type,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Animal ID Name     DateTime               MonthYear Date of Birth
1 A794011   Chunk    05/08/2019 06:20:00 PM May 2019  05/02/2017
2 A776359   Gizmo    07/18/2018 04:02:00 PM Jul 2018  07/12/2017
3 A821648   NA       08/16/2020 11:38:00 AM Aug 2020  08/16/2019
4 A720371   Moose    02/13/2016 05:59:00 PM Feb 2016  10/08/2015
5 A674754   NA       03/18/2014 11:47:00 AM Mar 2014  03/12/2014
6 A659412   Princess 10/05/2020 02:37:00 PM Oct 2020  03/24/2013
  Outcome Type Outcome Subtype Animal Type Sex upon Outcome Age upon Outcome
1 Rto-Adopt    NA              Cat         Neutered Male    2 years
2 Adoption     NA              Dog         Neutered Male    1 year
3 Euthanasia   NA              Other       Unknown          1 year
4 Adoption     NA              Dog         Neutered Male    4 months
5 Transfer     Partner         Cat         Intact Male      6 days
6 Adoption     NA              Dog         Spayed Female    7 years
  Breed                              Color
1 Domestic Shorthair Mix             Brown Tabby/White
2 Chihuahua Shorthair Mix            White/Brown
3 Raccoon                            Gray
4 Anatol Shepherd/Labrador Retriever Buff
5 Domestic Shorthair Mix             Orange Tabby
6 Chihuahua Shorthair Mix            Brown

[1] 141980